form{
    display: flex;
    
}

.fileuploadbox{
   text-align: center;
   padding: 50px 100px;
}



.btn{
    margin-top: 40px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover{
    
    background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);


}

.IpOpTable table{
  margin: 0px auto;
}

.IpOpTable li{
  list-style: none;
}

.IpOpTable .del-but{
  
  font-size: 18px !important;
  background-color: #B20000 !important; 
  transition: 0.3s;
  color: #fff;
  margin: 5px;
  border-radius: 3px !important;
  box-shadow: none !important
}

.IpOpTable .del-but:hover{
  
    
    transform: translateY(-7px);
  
}

.IpOpTable .down-but{
  
  font-size: 18px !important;
  background-color: #F3B943 !important; 
  transition: 0.3s;
  color: black;
  margin: 5px;
}

.IpOpTable .down-but:hover{
  
   
   
    transform: translateY(-7px);
  
}

.file-table{
  background: #3D434B;
  padding: 25px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 10px !important;
  transition: 0.3s ease-in-out all;
  
}

.file-table:hover{
  box-shadow: 0px 15px 20px rgba(21, 20, 10, 0.4);
}

.file-n{
  width: 250px;
}


.drop-zone{
  height: 110px !important;
  width: 100% !important;
  background: grey !important;
  margin: 0px auto;
  border: 3px dotted #3D434B;
  padding-top: 80px;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}

.drop-zone::before{
  content: "or drop your file here."
}

.drop-zone:hover{
  background: lightslategray !important;
}

.dnd{
  text-align: center;
  width: 65%;
  margin: 40px auto;
  
}

.inverted{
    
  background-color: red !important;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);


}