.navbar{
    height: 40px;
   
    color : white;
    padding-top: 25px;
    padding-left: 20px;
    
    padding: 10px;
}

.brand{
    font-size: larger;
    opacity: 0.9;
    font-weight: bolder;
    transition: 0.3s;
    float: left;
    margin: 10px;
}

.brand:hover{
    opacity: 1;
}

.nav-links{
    float: left;

}

.nav-links li{
    font-size: 15px;
    list-style: none;
    float: left;
    display: block;
    margin: auto 40px;
    text-decoration: none !important;
    color: whitesmoke;
    transition: 0.3s;
}

.nav-links li:hover{
    color: red;
}