<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://scheduledfileconverter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7f387053-3b34-46bb-807d-1f1d45fa1310/resourceGroups/GEP_Techathon/providers/Microsoft.Web/sites/scheduledFileConverter</ResourceId>
    <UserName>$scheduledFileConverter</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://scheduledfileconverter.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>